branca==0.7.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
folium==0.16.0
future==1.0.0
geocoder==1.38.1
idna==3.7
Jinja2==3.1.4
kali-tweaks==2023.3.2
MarkupSafe==2.1.5
numpy==1.26.4
python-apt==2.7.5
ratelim==0.1.6
requests==2.32.3
six==1.16.0
urllib3==2.2.1
xyzservices==2024.4.0
